.sidenav {
    background-color: #292526;
    width: 200px;
    height: center;
    bottom: 10px;
    position: fixed;
}

.sidenav a {
    color: #F2B161;
    font-family: roboto;
}

.sidenav i {
    padding-right: 10px;
}

.background {
    background-color: #292526;
}