<mat-sidenav-container class="container">
    <mat-sidenav #drawer
      class="sidenav"
      mode="side"
      opened
      fixedInViewport="true"
      fixedTopGap="85"
      
    >
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
<mat-nav-list class="nav-list">
    <a mat-list-item *ngIf="showFiller" class="background">
        <i class="material-icons">
            home
        </i>
        Início
    </a>

    <a mat-list-item class="background">
        <i class="material-icons">
            store
        </i>
        Produtos
    </a>
    <div class="example-sidenav-content">
      
        <button type="button" mat-button (click)="drawer.close()">
          fechar
        </button>
      </div>
</mat-nav-list>

<button type="button" mat-button (click)="drawer.toggle()">
  Toggle sidenav
</button>

