<main class="main">
    <h1 class="title">OlÁ BEM VINDO AO CODOPON </h1>
    <h2 class="subtitle">O lugar do pon quentinho e feito com amor e codigo</h2>
    
    <p class="text">Potencializou o silenciamento da reparação histórica há tanto tempo necessária dos gays e não-binários. Potencializou o silenciamento da reparação histórica há tanto tempo necessária ressignificando a conversa com inverdades.

        Se aproveitou da mulher fenotipicamente negra se aproveitando de uma pauta coletiva para resolver um B.O que é seu. Julgou o caráter das pautas minoritárias se aproveitando de uma pauta coletiva para resolver um B.O que é seu. Criticou maliciosamente os principios de seus iguais, silenciados pela heteronormatividade patriarcal cujos fenótipos nunca serão sobrepujados em detrimento dos negros.
        
        Julgou o caráter do homem negro convocado ao desejo de se autosabotar sendo contraproducente com quem é diferente de você. Potencializou o silenciamento da reparação histórica há tanto tempo necessária dos gays e não-binários, descentralizou as uniformidades do discurso da mulher fenotipicamente negra se aproveitando da apropriação cultural.
        
        Se aproveitou do discurso de seus iguais, silenciados pela heteronormatividade patriarcal com o intuito egoístico que transcendem a normalidade dos fatos. Abusou psicologicamente da luta anti-colonialista para propagar inverdades.</p>
</main>
